
rules {
  display:table;
  border-color:#EFEFEF;
  border-style:solid;
  border-width:1px;
}

replacement, alert{
    display:table-row;
}

search,replace,implementedIn, context{
    display:table-cell;     
    border-color: #CCCCCC;
    border-style:solid;
    border-width:1px;
    padding:1px;
}

implementedIn:before{
    content: "implemented in : " attr(group) " -> " attr(type);    
}implementedIn{
    display:table-cell;    
}
pattern:before, character:before{
    content:"<";
    color: #00A6EA;
}
pattern{
    content:attr(value);
    color: #00A6EA;
}
pattern:after, character:after{
    content:">";
    color: #00A6EA;
}
character {
    color:black;
    content:attr(value);
}
entity {
    color:black;
    content:"&" attr(value) ";";
}
space:before {
    content:"•";
    color: #F18E00;
}


context {
    color: #50A524;
}
context:before {
    color: #50A524;
    content:" (";
}
context:after {
    color: #50A524;
    content:")";
}
inElement:before {
    content:" only in ";
}
notInElement:before {
    content:" not in ";
}
